# Dependencies
node_modules/

# Build output
dist/
dist-electron/
out/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Electron builder
release/

# Misc
*.mjs.timestamp
